<div #container class="note-card-container">

    <a>
      <div class="note-card-content">
        <h1 class="note-card-title">asdasddddddd</h1>
        
        <div #bodyText class="note-card-body">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt quos dicta necessitatibus est nesciunt cum consequatur deleniti fuga quaerat, tenetur, dignissimos inventore quo! Corrupti, facere incidunt ad minima ea commodi!</p>
    
          <div #truncator class="fade-out-truncation"></div>
        </div>
      </div>
    </a>
    
  
    <div class="x-button"></div>
    
  </div>